/*** FONTS ***/
/*@font-face {
    font-family: 'TPB-DaxlinePro-Bold';
	src: url('../assets/fonts/tpb-daxlinepro-bold-webfont.eot') format('embedded-opentype');
	src: url('../assets/fonts/TPB-DaxlinePro-Bold.ttf')  format('truetype'),
         url('../assets/fonts/tpb-daxlinepro-bold-webfont.svg#svgFontName') format('svg'),
		 url('../assets/fonts/tpb-daxlinepro-bold-webfont.eot?#iefix') format('embedded-opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TPB-DaxlinePro-Light';
	src: url('../assets/fonts/tpb-daxlinepro-light-webfont.eot') format('embedded-opentype');
	src: url('../assets/fonts/TPB-DaxlinePro-Light.ttf')  format('truetype'),
         url('../assets/fonts/tpb-daxlinepro-light-webfont.svg#svgFontName') format('svg'),
		 url('../assets/fonts/tpb-daxlinepro-light-webfont.eot?#iefix') format('embedded-opentype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'TPB-DaxlinePro-Medium';
	src: url('../assets/fonts/tpb-daxlinepro-medium-webfont.eot') format('embedded-opentype');
	src: url('../assets/fonts/TPB-DaxlinePro-Medium.ttf') format('truetype'),
         url('../assets/fonts/tpb-daxlinepro-medium-webfont.svg#svgFontName') format('svg'),
		 url('../assets/fonts/tpb-daxlinepro-medium-webfont.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TPB-DaxlinePro-Regular';
	src: url('../assets/fonts/tpb-daxlinepro-regular-webfont.eot') format('embedded-opentype');
	src: url('../assets/fonts/TPB-DaxlinePro-Regular.ttf')  format('truetype'),
         url('../assets/fonts/tpb-daxlinepro-regular-webfont.svg#svgFontName') format('svg'),
		 url('../assets/fonts/tpb-daxlinepro-regular-webfont.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TPB-DaxlinePro-Thin';
	src: url('../assets/fonts/tpb-daxlinepro-thin-webfont.eot') format('embedded-opentype');
	src: url('../assets/fonts/TPB-DaxlinePro-Thin.ttf')  format('truetype'),
         url('../assets/fonts/tpb-daxlinepro-thin-webfont.svg#svgFontName') format('svg'),
		 url('../assets/fonts/tpb-daxlinepro-thin-webfont.eot?#iefix') format('embedded-opentype');
    font-weight: lighter;
    font-style: normal;
}*/

/*** FONTS END ***/

html, body{
	overflow: hidden;
}

body {
    background: #ffffff !important;
	/* background: #FFFFFF !important; */
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #eee;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    /*text-size-adjust: none;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /*font-family: 'TPB-DaxlinePro-Light';*/
    overflow: hidden;
	-ms-touch-action:none;
	touch-action:none;
	-webkit-touch-action:none;
	-o-touch-action:none;
}

#tabHostIndicator {
	z-index: 2000;
	width: 100%;
	position: absolute;
	margin-top: 54px;
}

#tabHostFailMsg {
	z-index: 2000;
	width: 100%;
	position: absolute;
	margin-top: 75px;
}

#alert-confirm-dialog, #alert-info-dialog, #selection-dialog {
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
	opacity: 0;
}

#tabHost {
	-webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.panelContent {
    font-size: 14px;
    color: #1d2129;
    background: rgba(255, 255, 255, 0);
    padding: 10px;
    margin: 5px;
    /*border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;*/
    /*font-family: 'TPB-DaxlinePro-Light';*/
}

.panelContentCorp {
    font-size: 14px;
    background: rgba(255, 255, 255, 0);
    padding: 10px;
    margin: 5px;
}

.panelCaption {
    /*font-family: 'TPB-DaxlinePro-Light';*/
    font-size: 15px;
    color: white;
    margin: 0px 10px 0px 10px;
    border-bottom: 1px solid #e6e6e6;
}

.accHeader {
    /*font-family: 'TPB-DaxlinePro-Light';*/
    font-size: 15px;
    color: #fff6c0;
    margin-top: 50px;
}

/*** BACKGROUND-LAYOUT ***/

.gradient-background-layer-0 {
    height: 100%;
    width: 100%;
    position: absolute;
    /*background: rgb(156, 82, 157);
    background: -webkit-linear-gradient(rgb(156, 82, 157), rgb(111, 51, 139));
	background: linear-gradient(rgb(156, 82, 157), rgb(111, 51, 139));*/
	
	/* IE10 Consumer Preview */
	/*background-image: -ms-radial-gradient(center, circle closest-side, #63376A 0%, #4D225A 100%);*/

	/*!* Mozilla Firefox *!*/
	/*background-image: -moz-radial-gradient(center, circle closest-side, #63376A 0%, #4D225A 100%);*/

	/*!* Opera *!*/
	/*background-image: -o-radial-gradient(center, circle closest-side, #63376A 0%, #4D225A 100%);*/

	/*!* Webkit (Safari/Chrome 10) *!*/
	/*background-image: -webkit-gradient(radial, center center, 0, center center, 140, color-stop(0, #63376A), color-stop(1, #4D225A));*/

	/*!* Webkit (Chrome 11+) *!*/
	/*background-image: -webkit-radial-gradient(center, circle closest-side, #63376A 0%, #4D225A 100%);*/

	/*!* W3C Markup, IE10 Release Preview *!*/
	/*background-image: radial-gradient(circle closest-side at center, #63376A 0%, #4D225A 100%);*/
    background-color: rgba(78, 105, 162, 0.1);
}

.gradient-background-layer-1 {
    height: 234px;
    width: 300px;
    bottom: 20%;
    right: 0;
    padding: 10px;
    position: absolute;
    /*background-image: url("../assets/images/diamond.png");*/
    background-position: center;
    background-size: cover;
    /*background: -webkit-linear-gradient(195deg, rgba(235, 19, 130, 0.4) 0%, rgba(207, 19, 116, 0.4) 60%, rgba(0, 0, 0, 0)  60%, rgba(0, 0, 0, 0)100%);*/
}

.gradient-background-layer-2 {
    height: 600px;
    width: 100%;
    position: absolute;
    /*background: -webkit-linear-gradient(330deg, rgba(207, 19, 116, 0.4) 0%, rgba(235, 19, 130, 0.4) 30%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 100%);*/
}

.gradient-background-layer-3 {
    position: absolute;
    /*background: -webkit-linear-gradient(230deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgba(77, 22, 79, 0.1) 60%, rgba(255, 91, 59, 0.1) 100%);*/
    width: 100%;
    height: 600px;
}

/*** BACKGROUND-LAYOUT END ***/

/*** SLIDEMENU-LAYOUT ***/

.menu-layout {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 250px;
    height: 100%;
    background: #ffffff;
    overflow: hidden;
    -ms-touch-action: none;
	cursor:default;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

/* -------------- HEADER CONFIG START --------------*/
.menu-layout .menu-header {
    width: 250px;
	height: 44px;
	background: #17C4BB;
	color: #FDFDFD;
	/* font-family: 'TPB-DaxlinePro-Medium'; */
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding-top: 3px;
	padding-left: 5px;
}

.menu-layout .menu-header span {
    position: absolute;
    padding: 10px 10px 10px 10px;
}

.menu-layout .menu-header .exit-button {
	/*width:66px;padding:1px;padding-top:4px;font-weight:bold;font-size:15px;text-align:center;*/
    position: absolute;
    width: 40px;
    height: 30px;
    top: 6px;
    /*left: 150px;*/
	right: 8px;
	padding:1px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius: 4px;
    background: rgba(255, 255, 255, 0.4);
    font-weight:bold;
	font-size: 20px;
	text-align:center;
}

.menu-layout .menu-header .exit-button span {
    position: absolute;
    padding: 5px 5px 5px 1px;
    left: 6px;
}

.menu-layout .menu-header .exit-button em {
	
    position: absolute;
    top: 5px;
    right: 5px;
    /*font-family: 'EBankPro';*/
    font-style: normal;
}

.menu-profile-container {
	position: absolute;
	width: 35px;
	height: 30px;
	margin: 0px 2px 2px -27px;
	top: 5px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius: 4px;
	background: rgba(255, 255, 255, 0.4);
}

.menu-profile-name {
	width: 70%;
	text-align: left;
	padding-top: 5px;
	cursor: pointer;
	word-break: break-all;
	/*word-wrap: word-break;*/
	/*padding: 3px 10px 10px 15px !important;*/
}

.menu-profile-icon {
	font-size: 22px;
	margin: -6px 2px 2px -3px;
}

/* -------------- HEADER CONFIG END --------------*/

.menu-layout ul li .menu-layout-contents-sub .wrapper {
    outline: none;
    position: absolute;
    z-index: 1;
    top: 0px;
    bottom: 0px;
    left: 0;
    width: 100%;
    background: #17C4BB;
    overflow: hidden;
    -ms-touch-action: auto;
}
.menu-layout-contents {
	/*font-family: 'TPB-DaxlinePro-Medium';*/
	font-weight:bold;
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
.menu-layout-contents ul, .menu-layout-contents div, .menu-layout-contents span {
	/*font-weight:bold;*/
	/*font-family: 'TPB-DaxlinePro-Regular';*/
	font-weight:normal;
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}


.menu-layout-contents li > div {
    outline: none;
    display: block;
    position: relative;
    min-width: 110px;
    color: #1d2129;
    /*font-family: 'TPB-DaxlinePro-Medium';*/
    font-size: 13px;
    text-decoration: none;
	border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    background: transparent;
    /*-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .1), 0px 1px 0px 0px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .1), 0px 1px 0px 0px rgba(0, 0, 0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .1), 0px 1px 0px 0px rgba(0, 0, 0, .1);*/
    height: 38px;
}

.menu-layout-contents em {
    outline: none;
    position: absolute;
    top: 6px;
    left: 0;
    margin-left: 10px;
    color: #17C4BB;
    /*font-family: 'EBankPro';*/
    font-size: 23px;
    font-style: normal;
}

.menu-layout-contents li > div {
	height: 38px;
	padding: 10px 0 18px 42px;
}

.menu-layout-contents > li:target > div {
    outline: none;
    color: #1d2129;
    background: transparent;
}

.menu-layout-contents li > div span {
    outline: none;
    display: none;
    position: absolute;
    right: 0;
	top:10px;
    margin-right: 15px;
    padding: 2px 8px;
    /*font-family: 'TPB-DaxlinePro-Light';*/
    background: #1d2129;
    -webkit-border-radius: 50%;
    -webkit-border-top-left-radius: 50%;
    -webkit-border-top-right-radius: 50%;
    -webkit-border-bottom-left-radius: 50%;
    -webkit-border-bottom-right-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.menu-layout-contents > li:target > div span {
    outline: none;
    color: #fdfdfd;
    background: #1d2129;
}

.menu-layout-contents > li:hover > div em, .menu-layout-contents > li:target > div em {
    outline: none;
    color: #1d2129;
}

/* Images */

.menu-layout-contents > li > div:before {
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 24px;
    height: 24px;
    margin: 4px 8px;
}

/* Sub Menu */
.menu-layout-contents li > .menu-layout-contents-sub {
    height: 0px;
}

.menu-layout-contents-sub li div {
	/*font-family: 'TPB-DaxlinePro-Light';*/
    outline: none;
    color: #1d2129;
    background: #ffffff;
}

.menu-layout-contents-sub li div:first-child {
	border-bottom: 1px solid #ebebeb;
}


.menu-layout-contents-sub li .menu-func-two-line {
	padding-top:1px !important;
}

/*.menu-layout-contents-sub li:last-child div {*/
    /*outline: none;*/
    /*border-bottom: 1px solid #9a829c;*/
/*}*/

.menu-layout-contents-sub li > div span {
    outline: none;
    color: #1d2129;
    background: transparent;
    border-bottom: 1px solid #D4D0C8;
    /*-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;*/
    display: none;
}

.menu-layout-contents-sub li > div .no-child {
    font-size: 20px;
    border: none;
    color: #1d2129;
    right: -5px;
	top:15.5px;
}

.menu-layout-contents-sub em {
    outline: none;
    position: absolute;
    top: 13px;
    left: 0;
    margin-left: 18px;
    color: #17C4BB;
    /*font-family: 'TPB-DaxlinePro-Light';*/
    font-size: 12px;
}

.menu-layout-contents-sub li:target div {
    outline: none;
    background: #efefef;
}

/* Functionality */

.menu-layout-contents li > .menu-layout-contents-sub {
    opacity: 0;
    outline: none;
    overflow: hidden;
    -ms-touch-action: none;
    -webkit-transition: height .1s ease-in-out;
    -moz-transition: height .1s ease-in-out;
    -o-transition: height .1s ease-in-out;
    -ms-transition: height .1s ease-in-out;
    transition: height .1s ease-in-out;
	
	-webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.langNoStyle {
	display:inline;
}

.langNoStyle:hover {
	color:#17C4BB;
	text-decoration: none;
	border:0px;
}

.langNoStyleSelected {
	color:#17C4BB !important;
	text-decoration: none;
	border:0px;
}

/*** PROMOTION MENU ***/

.promotion-layout {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 260px;
	padding-left: 30px;
    height: 100%;
    background: #ffffff;
    overflow: hidden;
    -ms-touch-action: none;
	cursor:default;

    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

/* -------------- HEADER CONFIG START --------------*/
.promotion-layout .promotion-header {
    width: 250px;
    height: 40px;
	margin-left: -20px;
    background: #e66a25;
    color: #FDFDFD;
    /*font-family: 'TPB-DaxlinePro-Medium';*/
	font-family:Tahoma, Helvetica, sans-serif;
    font-size: 18px;
	/*font-weight:bold;*/
}

.promotion-layout .promotion-header span {
    position: absolute;
    padding: 10px;
}

.promotion-layout .promotion-header .reload-button {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 5px;
    right: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius: 4px;
    background: rgba(255, 255, 255, 0.4);
    font-size: 16px;
}

.promotion-layout .promotion-header .reload-button span {
    position: absolute;
    padding: 5px;
    left: 8px;
}

.promotion-layout .promotion-header .reload-button em {
	
    position: absolute;
    top: 7.2px;
    right: 8px;
    /*font-family: 'EBankPro';*/
    font-style: normal;
}

/* -------------- HEADER CONFIG END --------------*/

#wrapper-promtion {
	margin-left:-20px;
	/*height:100%;*/
}
#promotion.content > p {
	text-align: justify;
}

.promotion-layout-contents {
	/*font-family: 'TPB-DaxlinePro-Medium';*/
	font-weight:bold;
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
.promotion-layout-contents ul, .promotion-layout-contents div, .promotion-layout-contents span {
	/*font-weight:bold;*/
	/*font-family: 'TPB-DaxlinePro-Regular';*/
	font-weight:normal;
    position: relative;
    margin: 0px 0 0 4px;;
    padding: 0;
    border: none;
    outline: none;
}


.promotion-layout-contents li > div {
    outline: none;
    display: table;
    position: relative;
    min-width: 110px;
	color: #FDFDFD;
    /*font-family: 'TPB-DaxlinePro-Medium';*/
	margin-top: -18px;
	margin-left: 5px;
	margin-right: 5px;
    font-size: 14px;
    text-decoration: none;
	border-bottom: solid 1px #5F314A;
    background: transparent;
    /*-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .1), 0px 1px 0px 0px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .1), 0px 1px 0px 0px rgba(0, 0, 0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .1), 0px 1px 0px 0px rgba(0, 0, 0, .1);*/
    height: 40px;
}

.promotion-layout-contents li > div > img {
    position: inherit;
	display:inline;
    margin: 8px 8px 4px 4px;
	/*width:85px;
	height:55px;*/
	width:35px;
	height:35px;
	float: left;
	/*border:solid 1px #FF6600;*/
	/*border-radius:5px;*/
	
}

.promotion-layout-contents li > div > div {
    position: inherit;
	/*display:inline;*/
	font-size:110%;
	white-space: pre-wrap;
	height:53px;
	margin-top:2px;
	overflow:hidden;
	text-overflow:ellipsis; 
}

.promotion-layout-contents > li:target > div {
    outline: none;
    color: #e66a25;
    background: transparent;
}

.promotion-layout-contents li > div span {
    outline: none;
    display: block;
    position: absolute;
    right: 0;
    margin-right: 15px;
    padding: 2px 7px;
    /*font-family: 'TPB-DaxlinePro-Light';*/
    background: #e66a25;
    -webkit-border-radius: 50%;
    -webkit-border-top-left-radius: 50%;
    -webkit-border-top-right-radius: 50%;
    -webkit-border-bottom-left-radius: 50%;
    -webkit-border-bottom-right-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.promotion-layout-contents > li:target > div span {
    outline: none;
    color: #fdfdfd;
    background: #e66a25;
}

.promotion-layout-contents > li:hover > div em, .promotion-layout-contents > li:target > div em {
    outline: none;
    color: #e66a25;
}

/* Images */

.promotion-layout-contents > li > div:before {
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 24px;
    height: 24px;
    margin: 4px 8px;
}

/*** PROMOTION MENU END ***/

/*** SLIDEMENU-LAYOUT END ***/

/*** MAIN-LAYOUT ***/

.main-layout {
    z-index: 100;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0px -5px 5px 1px #000000;
    -moz-box-shadow: 0px -5px 5px 1px #000000;
    -webkit-box-shadow: 0px -5px 5px 1px #000000;
	cursor: default;
    /*background:  #f76115; *//* Old browsers*/
    /*background: -moz-linear-gradient(top, #f76115 0%, #8700c2 100%); *//* FF3.6+*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f76115), color-stop(100%, #8700c2)); *//*Chrome,Safari4+*/
    /*background: -webkit-linear-gradient(top, #f76115 0%, #8700c2 100%); *//*Chrome10+,Safari5.1+*/
    /*background: -o-linear-gradient(top, #f76115 0%, #8700c2 100%); *//*Opera 11.10+*/
    /*background: -ms-linear-gradient(top, #f76115 0%, #8700c2 100%); *//*IE10+*/
    /*background: linear-gradient(top, #f76115 0%, #8700c2 100%); *//*W3C*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f76115', endColorstr = '#8700c2', GradientType = 0); *//*IE6-9*/

}

.main-layout .header {
    z-index: 1000;
    position: absolute;
    width: 100%;
	left:0px;
    height: 44px;
    background-color: #17C4BB;
    /*box-shadow: 0px 0px 3px #000000;*/
    /*-moz-box-shadow: 0px 0px 3px #000000;*/
    /*-webkit-box-shadow: 0px 0px 3px #000000;*/
}

.main-layout .header .handle {
    font-size: 25px;
    left: 0;
    top: 0;
    padding: 10px;
    position: absolute;
	float:left;
	
	-webkit-overflow-scrolling: auto;
	-ms-overflow-scrolling: auto;
	overflow-scrolling: auto;
}
.main-layout .header .handle>* {
	-webkit-overflow-scrolling: auto;
	-ms-overflow-scrolling: auto;
	overflow-scrolling: auto;
}

.main-layout .header .grid {
    left: 0;
    width: 100%;
    bottom: -9px;
    padding: 10px;
    position: absolute;
    /*background-image: url("../assets/images/hdivider.png");*/
    background-position: center;
    background-size: cover;
    display: none;
}

.main-layout .header .help {
    font-size: 25px;
    right: 0;
    top: 0;
    padding: 10px;
    position: absolute;
	float:right;
	-webkit-overflow-scrolling: auto;
	-ms-overflow-scrolling: auto;
	overflow-scrolling: auto;
}

.main-layout .header .navigationlogo {
    left: 0px;
    top: 10px;
    position: absolute;
	-webkit-overflow-scrolling: auto;
	-ms-overflow-scrolling: auto;
	overflow-scrolling: auto;
}

.main-layout .main-layout-contents {
    position: absolute;
    top: 140px;
    left: 0;
    width: 100%;
    height: 100px;
}

.main-layout .main-layout-subview {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 100px;
}

.main-layout .main-layout-vertical-slideview {
    position: absolute;
    top: 140px;
    left: 0;
    width: 100%;
    height: 100px;
}

.main-layout .main-layout-vertical-slideview > div {
	padding-bottom:10px;
}
.main-layout .footer {
    z-index: 101;
    position: absolute;
	bottom:0px;
    width: 100%;
	left:0px;
    height: 41px;
	border-top: solid 1px rgba(0, 0, 0, 0.1);
}

.main-layout .footer .callsupport {
	z-index: 102;
    font-size: 25px;
    left: 10px;
    bottom: 5px;
    padding: 0px;
    position: absolute;
	float:left;
	/*-webkit-overflow-scrolling: auto;
	-ms-overflow-scrolling: auto;
	overflow-scrolling: auto;*/
}

.main-layout .footer .changebrowser {
	z-index: 102;
    font-size: 25px;
    left: 50px;
    bottom: 5px;
    padding: 0px;
    position: absolute;
	float:left;
}
.main-layout .footer .changebrowser {
	float: left;
	/*margin-left:10px;*/
	font-size:100%;
}
.main-layout>.footer>.changelanguage {
	float: left;
	/*margin-left: 90px;*/
	margin-left: 50px;
	padding-top: 5px;
	font-size:100%;
}

/*** MAIN-LAYOUT END ***/

/*** LOADING ***/
/* Second Loadin Circle */
.loading {
    z-index: 2000;
	top: 0px;
	left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 1s;
	-moz-transition: opacity 1s;
    -webkit-transition: opacity 1s; /* Safari */
	-ms-transition: opacity 1s;
    opacity: 1;
	display:none;
}

.loading .circle {
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid rgba(0, 183, 229, 0.9);
	/*border: 5px solid rgba(245, 131, 31, 0.9);*/
    opacity: .9;
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -webkit-border-top-left-radius: 50px;
    -webkit-border-top-right-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius: 50px;
    box-shadow: 0 0 35px #2187e7;
	/*box-shadow: 0 0 35px #FFAC48;*/
    width: 50px;
    height: 50px;
    margin: 0 auto;
	animation: spinPulse 1s infinite ease-in-out;
	-ms-animation: spinPulse 1s infinite ease-in-out;
    -moz-animation: spinPulse 1s infinite ease-in-out;
    -webkit-animation: spinPulse 1s infinite linear;
}

.loading .circle1 {
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid rgba(0, 183, 229, 0.9);
	/*border: 5px solid rgba(245, 131, 31, 0.9);*/
    opacity: .9;
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -webkit-border-top-left-radius: 50px;
    -webkit-border-top-right-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius: 50px;
    box-shadow: 0 0 15px #2187e7;
	/*box-shadow: 0 0 15px #FFAC48;*/
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    animation: spinoffPulse 1s infinite linear;
	-ms-animation: spinoffPulse 1s infinite linear;
    -moz-animation: spinoffPulse 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear;
}

@-moz-keyframes spinPulse {
	0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7;}
	50% { -moz-transform:rotate(145deg); opacity:1; }
	100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spinPulse {
	0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7; }
	50% { -webkit-transform:rotate(145deg); opacity:1;}
	100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
@-ms-keyframes spinPulse {
	0% { -ms-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7; }
	50% { -ms-transform:rotate(145deg); opacity:1;}
	100% { -ms-transform:rotate(-320deg); opacity:0; }
}
@-ms-keyframes spinoffPulse {
	0% { -ms-transform:rotate(0deg); }
	100% { -ms-transform:rotate(360deg); }
}
/*** LOADING END ***/

/*** ACCOUNT SELECT ***/

.account-select {
    position: absolute;
    height: 90px;
    width: 100%;
    top: 60px;
    color: white;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    /*font-family: 'TPB-DaxlinePro-Regular';*/
}

.account-select .left-arrow {
    top: 25px;
    position: absolute;
    left: 8px;
    font-size: 40px;
}

.account-select .right-arrow {
    top: 25px;
    position: absolute;
    right: 8px;
    font-size: 40px;
}

.account-select-content {
    top: 20px;
    left: 5px;
    width: 300px;
    height: 90px;
	/*font-family: 'TPB-DaxlinePro-Regular';*/
    /*float: left;*/
    position: absolute; /* On older OS versions "position" and "z-index" must be defined, */
    /*z-index: 1; *//* it seems that recent webkit is less picky and works anyway. */
    overflow: hidden;
}

.account-select-content .scroller {
    width: 2100px;
    height: 100%;
    float: left;
    padding: 0;
}

.account-select-content .scroller ul {
    list-style: none;
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
}

.account-select-content .scroller li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    float: left;
    width: 300px;
    height: 90px;
    text-align: center;
    /*font-family: georgia;*/
    font-size: 18px;
    line-height: 140%;
    opacity: 1;
    /*-webkit-transition: opacity .2s;*/
    /*-moz-transition: opacity .2s;*/
    /*-o-transition: opacity .2s;*/
    /*-ms-transition: opacity .2s;*/
    /*transition: opacity .2s;*/
}

.account-select-content .scroller li .account-text {
    /*position: absolute;*/
    float: left;
    /*left: 0px;*/
    /*font-size: 36px;*/
	font-size: 44px;
    width: 100%;
    padding-top: 10px;
    /*font-family: 'TPB-DaxlinePro-Light';*/
	font-family:Tahoma, Helvetica, sans-serif;
}
@media only screen and (min-width: 320px) { 
	.account-select-content .scroller li .account-text {
		font-size:44px;
	}
	.account-select .left-arrow {
		font-size: 40px;
	}
	.account-select .right-arrow {
		font-size: 40px;
	}
 }
@media only screen and (min-width: 640px) { 
	.account-select-content .scroller li .account-text {
		font-size:48px;
	}
	.account-select .left-arrow {
		font-size: 50px;
	}
	.account-select .right-arrow {
		font-size: 50px;
	}
 }
@media only screen and (min-width: 800px) { 
	.account-select-content .scroller li .account-text {
		font-size:54px;
	}
	.account-select .left-arrow {
		font-size: 55px;
	}
	.account-select .right-arrow {
		font-size: 55px;
	}
 }
.account-select-content .scroller li .balance-text {
    /*font-family: 'TPB-DaxlinePro-Regular';*/
    /*position: absolute;*/
    float: left;
    width: 100%;
    /*right: 0px;*/
    font-size: 12px;
    padding-top: 5px;
}

/*** ACCOUNT SELECT END ***/

/** Style cho button o man hinh common */
.button-group {
    width: 100%;
    margin-top: 15px;
}
.button-group td:first-child .btnshadow {
    margin-left: 0;
}
.button-group td:nth-child(2) .btnshadow {
    margin: auto;
}
.button-group td:last-child .btnshadow {
    margin-left: 0;
    float: right;
}
.button-group-1 td {
    width: 100%;
}
.button-group-2 td {
    width: 50%;
}
.button-group-3 td {
    width: 33.33%;
}

/* Style man hinh com-result */
@media only screen and (min-width: 561px) {
    .com-result th.second-row,
    .com-result td.second-row {
        display: none;
    }
}
@media only screen and (max-width: 560px) {
    .com-result tr.second-row {
        display: none;
    }
    .reject-section td {
        padding-left: 9px;
    }
}

.table-account-tenor tr td.td-content .account-rename {
    display: none;
}

/* Button: Phien ban moi - Phien ban cu (Smartphone)*/
.tbl-btn-ver {
	width:100%;
}
.btn-version {
	font-family: Tahoma, Helvetica, sans-serif;
	height: 26px;
	font-size: 14px;
	font-weight: normal;
	text-align:center;
	cursor: pointer;									
}
.btn-ver-left{

}
.ver-active {
	background-color: #FAA60D;
	color: #fff;
}
.ver-deactive {
	opacity: 0.9;
	background-color: #FFFFFF;
	color: #5f2f85;
}
.btn-ver-right{

	margin-left: -4px;
}
.btn-ver-align {
	vertical-align: sub;
}