<div id="mainViewContent" class="main-layout-subview" ng-controller="auth-guarantee" data-ng-init="sendJSONRequestSearch()">
    <div class="">
        <div class="panelContent">
            <table id="dynamic-billing-table" width="100%">
                <tr>
                    <td>
                        <h5 class="screen-title"><span style="white-space:pre-wrap;">GUA_GUARANTEE_ISSUANCE</span></h5>
                        <div class="line-separate" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5 class="Header">
                            <span>GUA_APPROVAL_TITLE_SEARCH</span>
                        </h5>
                    </td>
                </tr>
                <tr>
                    <td class="td-text" valign="middle" align="center">
                        <div class="input-group">
                            <span class="input-group-addon" style="width:40%;white-space:pre-wrap">AUTHORIZE_TRANS_MENU</span>
                            <input id="id.trans-type" class="form-control form-control-righttext" type="button" value="GUA_TITLE" style="white-space:pre-wrap">
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td class="td-text" valign="middle" align="center">
                        <div class="input-group" ng-click="showMakers()">
                            <span class="input-group-addon" style="width:40%">COM_MAKER</span>
                            <input id="id.maker" class="form-control form-control-righttext" type="button" value="COM_ALL">
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-text" valign="middle" align="center">
                        <div class="input-group" ng-click="showTransStatusSelection()">
                            <span class="input-group-addon" style="width:40%; white-space:pre-wrap">COM_STATUS</span>
                            <input id="id.status" class="form-control form-control-righttext" type="button" value="COM_ALL" >
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-text" valign="middle" align="right">
                        <div class="input-group">
                            <span class="input-group-addon" style="width:40%; white-space:pre-wrap">COM_START_DATE</span>
                            <input id="id.begindate" class="form-control form-control-righttext-datepicker" type="tel" onpaste="return false;" onclick="handleCalendarNav(this, event);" onkeydown="return handleCalendarNav(this, event);" value="" placeholder="dd/mm/yyyy" >
                            <span id="span.begindate" class="icon-calendar input-group-addon-datepicker input-group-symbol-datepicker"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-text" valign="middle" align="right">
                        <div class="input-group">
                            <span class="input-group-addon" style="width:40%; white-space:pre-wrap">COM_TO_DATE</span>
                            <input id="id.enddate" class="form-control form-control-righttext-datepicker" type="tel" onpaste="return false;" onclick="handleCalendarNav(this, event);" value="" placeholder="dd/mm/yyyy" onkeydown="return handleCalendarNav(this, event);">
                            <span id="span.enddate" class="icon-calendar input-group-addon-datepicker input-group-symbol-datepicker"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="btn_search" class="btnshadow btn-second" type="button" ng-click="sendJSONRequestSearch()">COM_SEARCH</span>
                    </td>
                </tr>
                <tr>
                    <td><div id="id.message"><span id="id.message.value"></span></div></td>
                </tr>
            </table>
            <br>
            <div id="id.searchResult" style="display: none">
                <table class="table-account table-checkbox" width="100%" align="center">
                    <tbody>
                    <tr class="trow-title" onclick="selectRow(event, this, true);">
                        <th width="6%"><span>COM_NO</span></th>
                        <th width="20%"><span>COM_CREATED_DATE</span></th>
                        <th width="15%"><span>GUA_AUTHORIZE_TRANS_TYPE</span></th>
                        <th width="15%"><span>GUA_AMOUNT_GUARANTEE</span></th>
                        <th width="15%"><span>GUA_STATUS</span></th>
                        <th width="10%"><span>COM_CHEKER</span></th>
                        <th width="10%"><span>COM_TRANS_CODE</span></th>
                        <!--<th width="5%">
                            <input type="checkbox" onclick="selectRow(event, this, true);" name="true">
                        </th>-->
                    </tr>
                    </tbody>
                    <tbody>
                    <tr ng-repeat="trans in currentListTrans track by $index" onclick="selectRow(event, this, false);">
                        <td class="tdselct td-head-color" width="6%">
                            <div class="mobile-mode"><span>COM_NO</span></div>
                            <div class="content-detail" style="word-break: break-all;">{{$index + 1}}</div>
                        </td>
                        <td width="20%">
                            <div class="mobile-mode"><span>COM_CREATED_DATE</span></div>
                            <div class="content-detail" style="white-space: pre-wrap;" ng-bind="trans.NGAY_LAP"></div>
                        </td>
                        <td width="20%">
                            <div class="mobile-mode"><span>GUA_AUTHORIZE_TRANS_TYPE</span></div>
                            <div class="content-detail" style="word-break: break-all" ng-bind="guaranteeType(trans.GUARANTEE_TYPE)"></div>
                        </td>
                        <td width="15%">
                            <div class="mobile-mode"><span>GUA_AMOUNT_GUARANTEE</span></div>
                            <div class="content-detail" style="white-space: pre-wrap;" ng-bind="trans.SO_LUONG"></div>
                        </td>
                        <td width="15%">
                            <div class="mobile-mode"><span>GUA_STATUS</span></div>
                            <div class="content-detail" style="word-break: break-all" ng-bind="status(trans.TRANG_THAI)"></div>
                        </td>
                        <td width="10%">
                            <div class="mobile-mode"><span>COM_CHEKER</span></div>
                            <div class="content-detail" style="word-break: break-all" ng-bind="trans.NGUOI_DUYET"></div>
                        </td>
                        <td width="10%" >
                            <div class="mobile-mode"><span>COM_TRANS_CODE</span></div>
                            <div class="content-detail">
                                <a ng-click="showDetailTransaction(trans.MA_GD);" style="cursor:pointer;">
                                    <span class="no-check" ng-bind="trans.MA_GD"></span>
                                </a>
                            </div>

                        </td>
                        <!--<td width="5%">
                            <div class="mobile-mode"><span>COM_SELECT</span></div>
                            <div class="content-detail"><input class="trans.checkbox" type="checkbox" onclick="" name="{{$index}}"></div>
                        </td>-->
                    </tr>
                    </tbody>
                </table>

           <!--     <table width="100%" >
                    <tbody>
                    <tr>
                        <td align="center" colspan="2">
                            <div class="export-print" align="right" style="margin: 5px;">
                                <a id="acchis.exportfile" onclick="sendRequestExportExcel()" href="javascript:void(0)">
                                    <img src="css/img/exportfile.png" style="margin-right:5px;">
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <input id="id.reason-rej" class="form-control" placeholder="Lý do từ chối">
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <div id="pageIndicatorNums" style="text-align: right"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>-->
               <!-- <table class="button-group button-group-2" >
                    <tbody>
                    <tr>
                        <td>
                            <input class="btnshadow btn-primary" type="button" value="Từ chối" ng-click="rejectTransaction()">
                        </td>
                        <td>
                            <input class="btnshadow btn-primary" type="button" value="Duyệt" ng-click="authorizeTransaction()">
                        </td>
                    </tr>
                    </tbody>
                </table>-->

            </div>

        </div>
    </div>
</div>
<div id="selection-dialog" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" onClick="closeDialog(this)"></div>
    <div id="divListGroup" class="list-group dialog-list"></div>
</div>
<div id="selection-dialog-input" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" align="center" onClick="closeDialogInput(this)">
    </div>
    <div id="divListGroupInput" class="list-group dialog-list"> </div>
</div>
