<div id="mainViewContent" class="main-layout-subview" ng-controller="auth-guarantee-detail">
    <div class="">
        <div class="panelContent">
            <table id="dynamic-billing-table" width="100%">
                <tr>
                    <td>
                        <h5 class="screen-title"><span style="white-space:pre-wrap;">GUA_GUARANTEE_ISSUANCE</span></h5>
                        <div class="line-separate" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="seqFormLocal">
                            <table class="sequence-form-301" width="357" cellspacing="0" cellpadding="0" border="0" align="center" style="margin:auto">
                                <tbody>
                                <tr>
                                    <td class="selected" width="33%">
                                        <span>SEQ_CONFIRM_TITLE</span>
                                    </td>
                                    <td width="33%">
                                        <span>SEQ_AUTHORIZE_TITLE</span>
                                    </td>
                                    <td width="33%">
                                        <span>SEQ_COMPLETE_TITLE</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tbody>
                <tr>
                    <td colspan="2">
                        <table width='100%' align='center' class='background-blacktrans'>
                            <tr class="trow-default">
                                <td class="td-left"><span>COM_TRANS_CODE</span></td>
                                <td class="td-right"><span ng-bind="detailCommon.transId"></span></td>
                            </tr>
                            <tr class="trow-default">
                                <td class="td-left"><span>COM_EXECUTION_TIME</span></td>
                                <td class="td-right"><span ng-bind="detailCommon.createTime"></span></td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <h5 class="Header">
                            <span>COM_ACCOUNT_INFO</span>
                        </h5>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table width='100%' align='center' class='background-blacktrans'>
                           <!-- <tr class='trow-default'>
                                <td class='td-left'><span>AUTHORIZE_TRANS_MENU</span></td>
                                <td class="td-right"><span ng-bind="detailCommon.trans_type_name"></span></td>
                            </tr>-->
                            <tr class='trow-default'>
                                <td class='td-left'><span>GUA_ACCOUNT_CHARGES</span></td>
                                <td class="td-right"><span ng-bind="detailCommon.sourceAcc"></span></td>
                            </tr>
                           <!-- <tr class='trow-default'>
                                <td class='td-left'><span>CRE_DEBT_SURPLUS_AVAILABEL</span></td>
                                <td class="td-right"><span ng-bind="detailCommon.balance"></span></td>
                            </tr>-->

                        </table>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <h5 class="Header">
                            <span>COM_TRASACTION_INFO</span>
                        </h5>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table width='100%' align='center' class='background-blacktrans'>
                            <tr class='trow-default'>
                                <td class='td-left'><span>GUA_TYPE</span></td>
                                <td class="td-right"><span ng-bind="detailCommon.trans_type_name"></span></td>
                            </tr>
                            <tr class="trow-default">
                                <td class="td-left"><span>GUA_NAME_OFFEROR</span></td>
                                <td class="td-right"><span ng-bind="detailCommon.SUGGEST_NAME"></span></td>
                            </tr>
                            <tr class='trow-default'>
                                <td class='td-left'><span>GUA_ADDRESS_OFFEROR</span></td>
                                <td class="td-right"><span ng-bind="detailCommon.SUGGEST_ADDRESS"></span></td>
                            </tr>
                            <tr class="trow-default">
                                <td class="td-left"><span>GUA_NAME_THE_GUARANTEE</span></td>
                                <td class="td-right"><span ng-bind="detailCommon.GUARANTEE_NAME"></span></td>
                            </tr>
                            <tr class="trow-default">
                                <td class="td-left"><span>GUA_ADDRESS_BEN</span></td>
                                <td class="td-right"><span ng-bind="detailCommon.GUARANTEE_ADDRESS"></span></td>
                            </tr>
                            <tr class="trow-default">
                                <td class="td-left"><span>GUA_AMOUNT_GUARANTEE</span></td>
                                <td class="td-right"><span ng-bind="detailCommon.AMOUNT"></span></td>
                            </tr>
                            <tr class="trow-default">
                                <td class="td-left"><span>GUA_DURATION_DATE_FROM</span></td>
                                <td class="td-right"><span ng-bind="detailCommon.DATE_BEGIN"></span></td>
                            </tr>
                            <tr class="trow-default">
                                <td class="td-left"><span>GUA_DURATION_DATE_TO</span></td>
                                <td class="td-right"><span ng-bind="detailCommon.DATE_END"></span></td>
                            </tr>
                            <tr class="trow-default">
                                <td class="td-left"><span>GUA_CONTENT_GUARANTEE</span></td>
                                <td class="td-right"><span ng-bind="detailCommon.CONTENT"></span></td>
                            </tr>
                            <tr class='trow-default'>
                                <td class='td-left'><span>GUA_MARGIN_ACCOUNT</span></td>
                                <td class='td-right'><span ng-bind="detailCommon.DEPOSIT_ACCOUNT"></span></td>
                            </tr>
                            <tr class='trow-default'>
                                <td class='td-left'><span>GUA_DEPOSIT_RATIO</span></td>
                                <td class='td-right' > {{detailCommon.DEPOSIT_RATE}} %</td>
                               <!-- <td class='td-right'><span ng-bind="detailCommon.DEPOSIT_RATE"></span></td>-->
                            </tr>
                            <tr class='trow-default'>
                                <td class='td-left'><span>GUA_COLLATERAL_OTHER</span></td>
                                <td class='td-right'><span ng-bind="detailCommon.COLLATERAL"></span></td>
                            </tr>
                            <tr class='trow-default'>
                                <td class='td-left'><span>GUA_SEND_NOTIFICATION_TO_USER</span></td>
                                <td class='td-right'><span ng-bind="detailCommon.sendMethod"></span></td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h5 class="Header">
                            <span>GUA_PROFILE_GUARANTEE</span>
                        </h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="table-account " width="100%" align="center">
                            <tbody>
                            <tr class="trow-title">
                                <th width="6%"><span>COM_NO</span></th>
                                <th width="50%"><span>GUA_FILE_NAME_SENDED</span></th>
                                <th width="20%"><span>GUA_DATE_FILE_SENDED</span></th>
                                <th ><span>GUA_FILE_SIZE_SENDED</span> </th>
                                <th></th>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr ng-repeat="item in detailCheckList track by $index">
                                <td width="6%">
                                    <div class="mobile-mode"><span>COM_NO</span></div>
                                    <div class="content-detail" style="word-break: break-all;" ng-bind="$index + 1"></div>
                                    <strong></strong>
                                </td>
                                <td width="50%">
                                    <div class="mobile-mode"><span>GUA_FILE_NAME_SENDED</span></div>
                                    <div class="content-detail" style="word-break: break-all;" ng-bind="item.FILE_NAME"></div>
                                </td>
                                <td width="20%">
                                    <div class="mobile-mode"><span>GUA_DATE_FILE_SENDED</span></div>
                                    <div class="content-detail" style="word-break: break-all;" ng-bind="item.DATMAKE"></div>
                                </td>
                                <td >
                                    <div class="mobile-mode"><span>GUA_FILE_SIZE_SENDED</span></div>
                                    <div class="content-detail" style="word-break: break-all;">{{item.CAPACITY/1024/1024|number:2}}{{' MB'}}</div>
                                </td>
                                <td nowrap>
                                    <div class="mobile-mode"><span></span></div>
                                    <div class="content-detail" style="word-break: break-all;">
                                           <span  type="button" style="color: red; cursor: pointer" ng-click="onViewPDF(item.IDUSERREFERENCE)">
                                              <strong> <span>GUA_FILE_REVIEW</span></strong>
                                           </span>
                                    </div>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table width="100%">
                            <tr class="trow-space"></tr>
                            <tr>
                                <td align="center" colspan="2">
                                    <input id="id.reason-rej" class="form-control" placeholder="COM_AUTH_DENIAL_REASON" onkeyup="controlInputText(this, 240)">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="trow-space"></tr>
                <tr>
                    <td colspan="2">
                        <table class="button-group button-group-3">
                            <tbody>
                            <tr>
                                <td>
                                    <button class="btnshadow btn-primary" type="button" value="Quay lại" ng-click="onBackClick()" ><span>COM_BACK</span></button>
                                </td>
                                <td>
                                    <button class="btnshadow btn-primary" type="button" value="Từ chối" ng-click="onRejectClick()" ><span>COM_REJ</span></button>
                                </td>
                                <td>
                                    <button class="btnshadow btn-primary" type="button" value="Duyệt" ng-click="onContinuteClick()" ><span>COM_AUTH</span></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
<div id="selection-dialog" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" onClick="closeDialog(this)"></div>
    <div id="divListGroup" class="list-group dialog-list"></div>
</div>
<div id="selection-dialog-input" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" align="center" onClick="closeDialogInput(this)">
    </div>
    <div id="divListGroupInput" class="list-group dialog-list"> </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div id="contentView" class="modal-content"></div>

</div>

<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {

        margin: auto;
        padding: 0px;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
</style>