<div id="mainViewContent" class="main-layout-subview" ng-controller="Main as c">
  <div>
    <div class="panelContent">
      <table width="100%" align="center">
        <tr>
          <td colspan="2">
            <div>
              <h5 class="screen-title">
                <span>MENU_TRANS_BATCH_SALARY</span>
              </h5>
            </div>
            <div class="line-separate"></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="tab" style="margin-top: 0px;">
              <div class="item selected">
                <div class="left"></div>
                <div class="text"><span>TRANS_PERIODIC_TRADE_TITLE</span></div>
                <div class="right"></div>
              </div>
              <div class="item">
                <div class="left"></div>
                <div class="text"><span ng-click="c.changeTab()">TRANS_PERIODIC_MNG_TITLE</span></div>
                <div class="right"></div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <table width="357" cellspacing="0" cellpadding="0" border="0" align="center" class="sequence-form-302" style="margin:auto">
              <tbody>
                <tr>
                  <td width="33%">
                    <span>SEQ_INPUT_TITLE</span>
                  </td>
                  <td width="33%" class="selected">
                    <span>SEQ_AUTHEN_TITLE</span>
                  </td>
                  <td width="33%">
                    <span>SEQ_COMPLETE_TITLE</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <h5 class="Header"><span>TRANS_DETAIL_BLOCK_TITLE</span></h5>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <table width='98%' align='center' class="table-account" style="">
              <tr class="trow-title">
                <th style="width: 5%">
                  <span>TRANSFER_LIST_STT</span>
                </th>
                <th style="width: 15%">
                  <span>COM_RECEIVE_NAME</span>
                </th>
                <th style="width: 15%">
                  <span>TRANS_LIST_DESC_TITLE</span>
                </th>
                <th style="width: 10%">
                  <span>TRANS_INFO_AMOUNT_TITLE</span>
                </th>
                <th style="width: 15%">
                  <span>TRANS_LOCAL_ACC_DESTINATION</span>
                </th>
                <th ng-if="c.transType.key === 'T17'" style="width: 20%">
                  <span>COM_RECEIVER_BANK_NAME</span>
                </th>
              </tr>
              <tr ng-repeat-start="trans in c.listErrors track by $index">
                <td class="tdselct td-head-color" style="border-bottom: none; text-align: initial">
                  <div class="mobile-mode"><span>TRANSFER_LIST_STT</span></div>
                  <div class="content-detail" ng-bind="trans.index" style="display: block"></div>
                </td>
                <td style="text-align: initial">
                  <div class="mobile-mode"><span>COM_RECEIVE_NAME</span></div>
                  <div class="content-detail" style="display: block">
                    <span class="tooltip">
                      <input class="form-control" type="text" ng-model="trans.name">
                      <span ng-bind="trans.name" style="margin-left: 0"></span>
                    </span>
                  </div>
                </td>
                <td style="text-align: initial">
                  <div class="mobile-mode"><span>TRANS_LIST_DESC_TITLE</span></div>
                  <div class="content-detail" style="display: block">
                    <span class="tooltip">
                      <input class="form-control" type="text" ng-model="trans.description">
                      <span ng-bind="trans.description" style="margin-left: 0"></span>
                    </span>
                  </div>
                </td>
                <td style="text-align: initial">
                  <div class="mobile-mode"><span>TRANS_INFO_AMOUNT_TITLE</span></div>
                  <div class="content-detail" style="display: block">
                    <span class="tooltip">
                      <input class="form-control" type="text" ng-model="trans.amount">
                      <span ng-bind="trans.amount" style="margin-left: 0"></span>
                    </span>
                  </div>
                </td>
                <td style="text-align: initial">
                  <div class="mobile-mode"><span>TRANS_LOCAL_ACC_DESTINATION</span></div>
                  <div class="content-detail" style="display: block">
                    <span class="tooltip">
                      <input class="form-control" type="text" ng-model="trans.receiver">
                      <span ng-bind="trans.receiver" style="margin-left: 0"></span>
                    </span>
                  </div>
                </td>
                <td  style="text-align: initial" ng-if="c.transType.key === 'T17'">
                  <div class="mobile-mode"><span>COM_RECEIVER_BANK_NAME</span></div>
                  <div class="content-detail" style="display: block">
                    <span class="tooltip" ng-click="c.chooseBank(trans)">
                      <input class="form-control" ng-model="trans.bankName" style="cursor: pointer">
                      <span style="margin-left: 0; margin-top: -81px">
                        <p style="margin: 0" ng-bind="trans.bankName"></p>
                        <p style="margin: 0" ng-bind="trans.branchName"></p>
                      </span>
                    </span>
                  </div>
                </td>
              </tr>
              <tr ng-repeat-end>
                <td style="border-top: none"></td>
                <td colspan="{{c.colspan}}" class="td-left">
                  <span>TRANS_BATCH_ERR_HAPPENDED</span> 
                  <span ng-bind="c.getErrorMsg(trans.error)"></span></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div id="acc-pagination" style="text-align: right"></div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <table width='96%'>
              <tr>
                <td width='48%'>
                  <input type='submit' class='btnshadow btn-primary' ng-click='c.goBack()' value='INPUT_ACC_BTN_GOBACK'>
                </td>
                <td width='48%'>
                  <input type='button' ng-disabled="c.data.hasError == 1" class='btnshadow btn-second' ng-click='c.save()' value='REVIEW_BTN_CONFIRM'>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div id="selection-dialog" class="dialog-blacktrans" align="center" style="display:none">
  <div class="dialog-backgroundtrans" onClick="closeDialog(this)"></div>
  <div id="divListGroup" class="list-group dialog-list"></div>
</div>
<!--ThuanTM -->
<div id="selection-dialog-input" class="dialog-blacktrans" align="center" style="display:none">
  <div class="dialog-backgroundtrans" align="center" onClick="closeDialogInput(this)">
  </div>
  <div id="divListGroupInput" class="list-group dialog-list"> </div>
</div>
