<div id="mainViewContent" class="main-layout-subview" ng-controller="Main as c">
  <div>
    <div class="panelContent">
      <table width="100%" align="center">
        <tr>
          <td colspan="2">
            <div>
              <h5 class="screen-title">
                <span>MENU_TRANS_BATCH_SALARY</span>
              </h5>
            </div>
            <div class="line-separate"></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="tab" style="margin-top: 0px;">
              <div class="item selected">
                <div class="left"></div>
                <div class="text"><span>TRANS_PERIODIC_TRADE_TITLE</span></div>
                <div class="right"></div>
              </div>
              <div class="item">
                <div class="left"></div>
                <div class="text"><span ng-click="c.changeTab()">TRANS_PERIODIC_MNG_TITLE</span></div>
                <div class="right"></div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <table width="357" cellspacing="0" cellpadding="0" border="0" align="center" class="sequence-form-302" style="margin:auto">
              <tbody>
                <tr>
                  <td width="33%">
                    <span>SEQ_INPUT_TITLE</span>
                  </td>
                  <td width="33%" class="selected">
                    <span>SEQ_AUTHEN_TITLE</span>
                  </td>
                  <td width="33%">
                    <span>SEQ_COMPLETE_TITLE</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <h5 class="Header"><span>TRANS_BATCH_ACC_LABEL</span></h5>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <table width='100%' align='center' class='background-blacktrans'>
              <tr class='trow-default'>
                <td class='td-left'><span>COM_TYPE_TRANSACTION</span></td>
                <td class='td-right' ng-bind="c.transType.value"></td>
              </tr>
              <tr class='trow-default'>
                <td class='td-left'><span>TRANS_BATCH_ACC_LABEL</span></td>
                <td class='td-right' ng-bind="c.account.number"></td>
              </tr>
              <tr class='trow-default'>
                <td class='td-left'><span>COM_TXT_ACC_BALANCE_TITLE</span></td>
                <td class='td-right'>
                  <span ng-bind="c.toCurrency(c.account.balance)"></span>
                </td>
              </tr>
              <tr class='trow-default'>
                <td class='td-left'><span>TRANSFER_LIST_TOTAL_AMOUNT</span></td>
                <td class='td-right'>
                  <span ng-bind="c.toCurrency(c.data.totalAmount)"></span>
                </td>
              </tr>
              <tr class='trow-default'>
                <td class='td-left'><span>TRANSFER_LIST_TOTAL_FEE</span></td>
                <td class='td-right'>
                  <span ng-bind="c.toCurrency(c.data.totalFee)"></span>
                </td>
              </tr>
              <tr class='trow-default'>
                <td class='td-left'><span>TRANS_BATCH_BALANCE_AFTER</span></td>
                <td class='td-right'>
                  <span ng-bind="c.toCurrency(c.data.balanceAfter)"></span>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <h5 class="Header"><span>TRANS_DETAIL_BLOCK_TITLE</span></h5>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <table width='98%' align='center' class='table-account' style="">
              <tr class="trow-title">
                <th style="width: 5%">
                  <span>TRANSFER_LIST_STT</span>
                </th>
                <th style="width: 10%">
                  <span>COM_RECEIVE_NAME</span>
                </th>
                <th style="width: 10%">
                  <span>TRANS_LIST_DESC_TITLE</span>
                </th>
                <th style="width: 10%">
                  <span>TRANS_INFO_AMOUNT_TITLE</span>
                </th>
                <th style="width: 10%">
                  <span>TRANS_LOCAL_ACC_DESTINATION</span>
                </th>
                <th ng-if="c.transType.key === 'T17'" style="width: 15%">
                  <span>COM_RECEIVER_BANK_NAME</span>
                </th>
                <th ng-if="c.transType.key === 'T17'" style="width: 15%">
                  <span>BATCH_SALARY_MNG_TIT_BRANCH_NAME</span>
                </th>
                <th style="width: 10%">
                  <span>TRANS_STATUS</span>
                </th>
              </tr>
              <tr ng-repeat-start="trans in c.currentListTrans track by trans.index">
                <td class="tdselct td-head-color" ng-style="{'border-bottom': trans.error != null ? 'none' : ''}">
                  <div class="mobile-mode"><span>TRANSFER_LIST_STT</span></div>
                  <div class="content-detail" ng-bind="trans.index"></div>
                </td>
                <td>
                  <div class="mobile-mode"><span>COM_RECEIVE_NAME</span></div>
                  <div class="content-detail" ng-bind="trans.name"></div>
                </td>
                <td>
                  <div class="mobile-mode"><span>TRANS_LIST_DESC_TITLE</span></div>
                  <div class="content-detail" ng-bind="trans.description"></div>
                </td>
                <td>
                  <div class="mobile-mode"><span>TRANS_INFO_AMOUNT_TITLE</span></div>
                  <div class="content-detail">
                    <span ng-bind="trans.amount"></span> VND
                  </div>
                </td>
                <td>
                  <div class="mobile-mode"><span>TRANS_LOCAL_ACC_DESTINATION</span></div>
                  <div class="content-detail" ng-bind="trans.receiver"></div>
                </td>
                <td ng-if="c.transType.key === 'T17'">
                  <div class="mobile-mode"><span>COM_RECEIVER_BANK_NAME</span></div>
                  <div class="content-detail" ng-bind="trans.bankName" style="word-break: break-all;"></div>
                </td>
                <td ng-if="c.transType.key === 'T17'">
                  <div class="mobile-mode"><span>BATCH_SALARY_MNG_TIT_BRANCH_NAME</span></div>
                  <div class="content-detail" ng-bind="trans.branchName"></div>
                </td>
                <td>
                  <div class="mobile-mode"><span>TRANS_STATUS</span></div>
                  <div class="content-detail">
                    <span ng-if="trans.error == null" class="icon-correct" style="color: green; font-weight: bold"></span>
                    <span ng-if="trans.error != null" class="icon-cross" style="color: red; font-weight: bold"></span>
                  </div>
                </td>
              </tr>
              <tr ng-repeat-end ng-show="trans.error != null">
                <td style="border-top: none"></td>
                <td colspan="8" class="td-left">
                  <span>TRANS_BATCH_ERR_HAPPENDED</span> 
                  <span ng-bind="c.getErrorMsg(trans.error)"></span></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div id="acc-pagination" style="text-align: right"></div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <table ng-class="c.buttonGroupClass">
              <tr>
                <td>
                  <input type="submit" class="btnshadow btn-primary" ng-click="c.goBack()" value="COM_CANCEL" style="margin-left: 0">
                </td>
                <td ng-if="c.showEditBtn">
                  <input type="button" class="btnshadow btn-primary" ng-click="c.goToEditScreen()" value="TRANSFER_REMITTANCE_MODIFY">
                </td>
                <td>
                  <input type='button' ng-disabled="c.data.hasError == 1" class="btnshadow btn-second" ng-click="c.continue()" value="REVIEW_BTN_CONFIRM">
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div id="selection-dialog" class="dialog-blacktrans" align="center" style="display:none">
  <div class="dialog-backgroundtrans" onClick="closeDialog(this)"></div>
  <div id="divListGroup" class="list-group dialog-list"></div>
</div>
<!--ThuanTM -->
<div id="selection-dialog-input" class="dialog-blacktrans" align="center" style="display:none">
  <div class="dialog-backgroundtrans" align="center" onClick="closeDialogInput(this)">
  </div>
  <div id="divListGroupInput" class="list-group dialog-list"> </div>
</div>
