<div id="mainViewContent" class="main-layout-subview" ng-controller="pay_bill_review">
    <div class="">
        <div class="panelContent">
            <table id="dynamic-billing-table" width="100%">
                <tr>
                    <td>
                        <h5 class="screen-title"><span style="white-space:pre-wrap;">MENU_PAY_BILL</span></h5>
                        <div class="line-separate" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="seqFormLocal">
                            <table width="357" cellspacing="0" cellpadding="0" border="0" align="center" class="sequence-form-302" style="margin:auto">
                                <tbody>
                                <tr>
                                    <td width="33%">
                                        <span>SEQ_INPUT_TITLE</span>
                                    </td>
                                    <td width="33%" class="selected">
                                        <span>SEQ_AUTHEN_TITLE</span>
                                    </td>
                                    <td width="33%">
                                        <span>SEQ_COMPLETE_TITLE</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tbody>
                <tr>
                    <td colspan="2">
                        <h5 class="Header">
                            <span>COM_ACCOUNT_INFO</span>
                        </h5>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table width='100%' align='center' class='background-blacktrans'>
                            <tr ng-repeat="info in review.accInfo" class='trow-default'>
                                <td class='td-left' ng-bind="info.key"></td>
                                <td class='td-right' ng-bind="info.value"></td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h5 class="Header">
                            <span>COM_TRASACTION_INFO</span>
                        </h5>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table width='100%' align='center' class='background-blacktrans'>
                            <tr ng-repeat="info in review.transInfo" class='trow-default'>
                                <td class='td-left' ng-bind="info.key"></td>
                                <td class='td-right' ng-bind="info.value"></td>
                            </tr>
                            <tr class='trow-default' id="thuhuongtmp">
                                <td class='td-left'><span>PAYMENT_BENEFICIARY_OPTION</span></td>
                                <td class='td-right' ng-bind="thuhuong"></td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td id="authen.token" style="display: none">
                        <table width="100%" vspace="30" align="center">
                            <tbody>
                            <tr>
                                <td colspan="3">
                                    <h5 id="auth.note" style="margin-bottom: 15px;">
                                        <span>AUTHEN_TXT_NOTE_CONTENT</span>
                                    </h5>
                                </td>
                            </tr>
                            <tr>
                                <td class="td-text" valign="middle" align="center" colspan="3" >
                                    <div class="input-group">
                                        <span id="authen.tokentype" class="input-group-addon" style="width:40%; white-space: pre-wrap">Mã TOKEN</span>
                                        <input id="authen.tokenkey" class="form-control form-control-righttext" type="tel" maxlength="6" value="" placeholder="Nhập" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off">
                                        <span class="input-group-addon input-group-symbol"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div id="authen.progressbar" class="progress-wrapper html5-progress-bar" style="display:none">
                                        <div id="authen.progressbarotp" class="authen-progressbarotp"></div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr class="trow-space"></tr>
                <tr>
                    <td colspan="2">
                        <table class="button-group button-group-3">
                            <tbody>
                            <tr>
                                <td>
                                    <button class="btnshadow btn-primary" type="button" value="Hủy" ng-click="onCancelClick()" ><span>COM_CANCEL</span></button>
                                </td>
                                <td>
                                    <button class="btnshadow btn-primary" type="button" value="Quay lại" ng-click="onBackClick()" ><span>COM_BACK</span></button>
                                </td>
                                <td>
                                    <button class="btnshadow btn-primary" type="button" value="Tiếp tục" ng-click="sendJSONRequest()" ><span>COM_CONTINUE</span></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
<div id="selection-dialog" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" onClick="closeDialog(this)"></div>
    <div id="divListGroup" class="list-group dialog-list"></div>
</div>
<div id="selection-dialog-input" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" align="center" onClick="closeDialogInput(this)">
    </div>
    <div id="divListGroupInput" class="list-group dialog-list"> </div>
</div>