<div id="mainViewContent" class="main-layout-subview" ng-controller="auth-pay-bill-detail-authen">
    <div class="">
        <div class="panelContent">
            <table id="dynamic-billing-table" width="100%">
                <tr>
                    <td>
                        <h5 class="screen-title"><span style="white-space:pre-wrap;">MENU_PAY_BILL</span></h5>
                        <div class="line-separate" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="seqFormLocal">
                            <table class="sequence-form-302" width="357" cellspacing="0" cellpadding="0" border="0" align="center" style="margin:auto">
                                <tbody>
                                <tr>
                                    <td width="33%">
                                        <span>SEQ_CONFIRM_TITLE</span>
                                    </td>
                                    <td width="33%" class="selected">
                                        <span>SEQ_AUTHORIZE_TITLE</span>
                                    </td>
                                    <td width="33%">
                                        <span>SEQ_COMPLETE_TITLE</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tbody>
                
                <tr class="trow-space"></tr>

                <tr>
                    <td colspan="2">
                        <table width='100%' align='center' class='background-blacktrans'>
                            <tr class="trow-default">
                                <td class="td-left"><span>COM_TRANS_CODE</span></td>
                                <td class="td-right"><span ng-bind="detail.transInfo[0].transId"></span></td>
                            </tr>
                            <tr class="trow-default">
                                <td class="td-left"><span>COM_EXECUTION_TIME</span></td>
                                <td class="td-right"><span ng-bind="detail.transInfo[0].createTime"></span></td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <h5 class="Header">
                            <span>COM_ACCOUNT_INFO</span>
                        </h5>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table width='100%' align='center' class='background-blacktrans'>
                            <tr class='trow-default'>
                                <td class='td-left'><span>AUTHORIZE_TRANS_MENU</span></td>
                                <td class="td-right"><span ng-bind="detail.transInfo[0].transType"></span></td>
                            </tr>
                            
                            <tr class='trow-default'>
                                <td class='td-left'><span>COM_TAX_PAYMENT_ACC</span></td>
                                <td class="td-right"><span ng-bind="detail.transInfo[0].sourceAcc"></span></td>
                            </tr>
                            <tr class='trow-default'>
                                <td class='td-left'><span>CRE_DEBT_SURPLUS_AVAILABEL</span></td>
                                <td class="td-right"><span ng-bind="detail.transInfo[0].balance"></span></td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h5 class="Header">
                            <span>COM_TRASACTION_INFO</span>
                        </h5>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table width='100%' align='center' class='background-blacktrans'>
                            <tr class='trow-default'>
                                <td class='td-left'><span>PAYMENT_ISSUEDBY</span></td>
                                <td class="td-right"><span ng-bind="detail.transInfo[0].transProvider"></span></td>
                            </tr>
                            <tr ng-repeat="info in detail.transInfo[1]" class='trow-default'>
                                <td class='td-left' ng-bind="info.key"></td>
                                <td class='td-right' ng-bind="info.value"></td>
                            </tr>
                            <tr class="trow-default">
                                <td class="td-left"><span>IDENTIFICATION_TRANS_FEE</span></td>
                                <td class="td-right"><span>0 VND</span></td>
                            </tr>

                        </table>
                    </td>
                </tr>
                
                <tr>
                    <td id="authen.token">
                        <table width="100%" align="center">
                            <tbody>
                            <tr>
                                <td colspan="2">
                                    <h5 id="auth.title" class="Header" style="margin-left:10px;"><span>AUTHEN_TXT_INPUT_KEY_TITLE</span></h5>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <h5 id="auth.note" style="margin-bottom: 15px;">
                                        <span>AUTHEN_TXT_NOTE_CONTENT</span>
                                    </h5>
                                </td>
                            </tr>
                            <tr>
                                <td class="td-text" valign="middle" align="center" colspan="3" >
                                    <div class="input-group">
                                        <span id="authen.tokentype" class="input-group-addon" style="width:40%; white-space: pre-wrap">Mã TOKEN</span>
                                        <input id="authen.tokenkey" class="form-control form-control-righttext" type="tel" maxlength="6" value="" onkeyup="removeSpecialCharForNumberNew(this.value)" placeholder="Nhập" ng-enter="onContinuteClick()">
                                        <span class="input-group-addon input-group-symbol"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div id="authen.progressbar" class="progress-wrapper html5-progress-bar" style="display:block;">
                                        <div id="authen.progressbarotp" class="authen-progressbarotp"></div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr class="trow-space"></tr>
                <tr>
                    <td colspan="2">
                        <table class="button-group button-group-3">
                            <tbody>
                            <tr>
                                <td>
                                    <button class="btnshadow btn-primary" type="button" value="Quay lại" ng-click="onBackClick()" ><span>COM_BACK</span></button>
                                </td>
                                <td>
                                    <button class="btnshadow btn-primary" type="button" value="Từ chối" ng-click="onCancelClick()" ><span>COM_CANCEL</span></button>
                                </td>
                                <td>
                                    <button class="btnshadow btn-primary" type="button" value="Duyệt" ng-click="onContinuteClick()" ><span>COM_CONTINUE</span></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
<div id="selection-dialog" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" onClick="closeDialog(this)"></div>
    <div id="divListGroup" class="list-group dialog-list"></div>
</div>
<div id="selection-dialog-input" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" align="center" onClick="closeDialogInput(this)">
    </div>
    <div id="divListGroupInput" class="list-group dialog-list"> </div>
</div>